body {
    font-family: Arial, sans-serif;
    min-width: 250px;
    background-color: #333;
    border: 1px solid #FFA600;
    border-bottom: 1px solid #FF5733;
    border-radius: 2px;
    padding: 20px;
    color: #fff;
    align-items: center;

}

h1 {
    font-size: 20px;
    font-weight: normal;
    /* center text */
    text-align: center;
    margin: 0px;

}
h2 {
    font-size: 14px;
    margin: 0px;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    /* add a separator underneath */
    border-bottom: 1px solid grey;
    color: lightgrey;
}

#key_needed,
#key_entered {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;

}

#key_needed {
    margin-bottom: 20px;
}

#key_needed p,
#key_entered p {
    font-size: 14px;
}

#key_input {
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    width: 80%;
    height: 20px;
}

#save_key_button,
#change_key_button {
    background: linear-gradient(to right, #FFA600, #FF5733);
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.switch {
    display: none;
    margin-top: 25px;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background: linear-gradient(to right, #FFA600, #FF5733);

}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

p {
    font-size: 14px;
    display: inline;
    margin-left: 20px;
    /* make text apppear centered vertically on toggle switch */
    vertical-align: middle;
}


