.lb-modal {
    display: none;
    position: fixed;
    top: 100%;
    left: 100%;
    margin: 0;
    width: 300px;
    /* adjust as needed */
    background-color: #333;
    border: 1px solid;
    border-image: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3c);
    border-image-slice: 1;
    padding: 20px;
    z-index: 2147483645;
    border-radius: 10px;
    color: #fff;
    transition: all 0.2s ease-out;
}

.lb-modal-content {
    /* allows for scrolling if the list is long */
    overflow: auto;
    /* limits the height of the modal-content */
    max-height: 80vh;
}

.lb-modal-close {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: linear-gradient(to bottom right, #DA7E00, #F46D00);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 2147483646;
}

.lb-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

h2 {
    width: 80%;
    color: lightgrey;
    font-size: medium;
    /* center text */
    text-align: center;
    margin: 0;

}

.lb-next-button,
.lb-prev-button {
    width: 10%;
    text-align: center;
}

.lb-prev-button {
    margin-right: 10px;
}
.lb-next-button {
    margin-left: 10px;
}


#items li {
    /* useless because browser just closes <ul id="items"></ul> right away */
}


li[class*="item"] {
    display: block;
    text-decoration: none;
    color: lightgrey;
}

li[class*="metadata"] {
    /* useless */
}

.lb-item-details {
    font-size: smaller;
    color: gray;
    margin-left: 1em;
}

.lb-cursor {
    transition: all 0.5s ease-in-out;
}
